/****************************TAG SELECTORS****************************/
body {
  text-align: center;
  background-color: teal;
  margin: 0;
}

h1 {
  margin: 50px 0 0;
  font-size: 3rem;
}

p {
  margin: 0 auto 75px;
}

/***************************CLASS SELECTORS***************************/
.keyboard-container {
  display: grid;
  width: 1000px;
  height: 400px;
  margin: auto auto 100px;
}

.white-container, .black-container {
  grid-column: 1;
  grid-row: 1;
}

.white-container {}

.white-key {
  float: left;
  margin: 0;
  background-color: white;
  color: black;
  width: 100px;
  height: 100%;
  border: medium black outset;
  border-collapse: collapse;
}

.black-container {
  position: relative;
  left: 50px;
  height: 60%;
  width: 900px;
}

.white-key:focus, .black-key:focus {
  outline: none;
  box-shadow: none;
}

.black-key {
  float: left;
  margin: 0 25px;
  background-color: black;
  color: white;
  width: 50px;
  height: 100%;
  border: medium black outset;
  border-collapse: collapse;
}

.invisible-key {
  float: left;
  visibility: hidden;
  margin: 0 25px;
  width: 50px;
  height: 100%;
  border: medium black outset;
  border-collapse: collapse;
}

.key:active {
  transform: translateY(10px);
}

.pressed {
  transform: translateY(10px);
}
