/* Color Scheme */
:root {
  --main-background-color: #fcfcfc;
  --main-color: #1e94ea;
  --secondary-color:#f25d59;
  --tertiary-color: #00a64e;
}

/***************************TAG SELECTORS**************************/
html {
  scroll-behavior: smooth;
  background-color: var(--main-background-color);
}

body {
  text-align: center;
  padding-top: 56px;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  /* margin-top: 0;
  padding-top: 100px; */
}

h2 {
  color: var(--main-color);
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

h3 {
  color: var(--secondary-color);
  font-family: 'Roboto Slab', serif;
  /* margin-top: 0;
  margin-bottom: 10px; */
}

h4 {
  color: var(--secondary-color);
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  /* margin-top: 0; */
}

h5 {
  color: var(--secondary-color);
  font-family: 'Roboto Slab', serif;
  /* margin-top: 0;
  margin-bottom: 10px; */
}

p {
  /* color: var(--main-color); */
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  line-height: 2;
  margin: 0;
}


/***************************CLASS SELECTORS**************************/

/*///////Navigation Controls and Navigation Bar///////*/
.navbar-custom {
  background-color: var(--main-color);
}

.profile-pic {
  border-radius: 50%;
}


/*////////////// Header //////////////*/
.header-container {
  /* position: relative; */
  /* top: 56px; */
  width: 100%;
  /* height: calc(100vh - 56px); */
  max-height: 1000px;
  background-image: linear-gradient(var(--main-color), var(--main-background-color));
  /* background-image: linear-gradient(var(--main-color), white); */
  /* margin: auto; */
  padding: 10px;
}

.header-portrait-container {
  width: 100%;
  margin: auto;
  padding: 20px;
}

/* .header-portrait-container>img {
  min-width: 200px;
  margin: auto;
} */

.social-link {
  width: 2.2rem;
  margin: 2rem 0.8rem 0;
  transition: transform 0.2s;
}

.social-link:hover {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .header-portrait-container {
    padding: 0 70px;
  }
  .header-container p {
    margin-top: 30px;
    font-size: 1.6rem;
  }
}


/*////////////// Experience //////////////*/
.experience-container {
  max-width: 850px;
  margin-top: 56px;
  padding: 50px 30px;
}

.experience-container .row {
  margin: 8px 0;
}



@media (min-width: 768px) {
  .experience-container .row {
    margin: 30px 0;
  }

  .experience-container p {
    width: 85%;
    margin: auto;
  }

  .experience-intro-content p {
    padding-top: 60px;
  }

}




/*////////////// Experience (v.2) //////////////*/
.experience-container-2 {
  width: 90%;
  max-width: 1000px;
  margin-top: 56px;
  padding: 50px 30px;
}

.experience-container-2 .row {
  margin: 8px 0;
  /* font-size: 0.9rem; */
}

.experience-container-2 .col-md-6 {
  padding: 0;
}

.experience-container-2 .row p {
  text-align: left;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .experience-container-2 .row {
    margin: 30px 0;
  }

  /* .experience-container-2 p {
    width: 85%;
    margin: auto;
  }
} */





/*////////////// Portfolio //////////////*/
.portfolio-container {
  height: 700px;
  width: 100%;
  background-color: var(--main-color);
  /* margin-top: 50px; */
  margin: 50px 0 0;
  padding: 50px 30px;
}
