/* Color Scheme */
:root {
  --main-background-color: #fcfcfc;
  --main-color: #1e94ea;
  --secondary-color: #f25d59;
  --tertiary-color: #00a64e;
}

/***************************TAG SELECTORS**************************/
html {
  scroll-behavior: smooth;
  background-color: var(--main-background-color);
}

body {
  text-align: center;
  padding-top: 50px;
  font-family: 'Averia Serif Libre', cursive;
}

h1 {
  font-family: 'Baloo Da 2', cursive;
  /* font-family: 'Kaushan Script', cursive; */
  /* margin-top: 0;
  padding-top: 100px; */
}

h2 {
  font-family: 'Baloo Da 2', cursive;
  /* font-family: 'Roboto Slab', serif; */
  font-size: 2.5rem;
  margin-bottom: 30px;
}

h3 {
  font-family: 'Baloo Da 2', cursive;
  /* color: var(--secondary-color); */
  /* font-family: 'Roboto Slab', serif; */
  /* margin-top: 0;
  margin-bottom: 10px; */
}

/* h4 {
  color: var(--secondary-color);
  /* font-family: 'Roboto Slab', serif; */
/* font-weight: 300; */
/* } */
h5 {
  color: var(--secondary-color);
  /* font-family: 'Roboto Slab', serif; */
  /* margin-top: 0;
  margin-bottom: 10px; */
}

p {
  /* color: var(--main-color); */
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 1.1rem;
  line-height: 2;
  margin: 0;
}

ul {
  text-align: left;
  font-size: 1.1reml
}

li {
  margin-bottom: 1.5rem;
}

/***************************CLASS SELECTORS**************************/
/*///////Navigation Controls and Navigation Bar///////*/
.navbar-custom {
  background-color: var(--main-color);
  font-family: 'Baloo Da 2', cursive;
  font-size: 1.4rem;
}

/*////////////// Header //////////////*/
.header-container {
  /* position: relative; */
  /* top: 56px; */
  width: 100%;
  height: calc(100vh - 56px);
  max-height: 1000px;
  background-image: linear-gradient(var(--main-color), var(--main-background-color));
  /* background-image: linear-gradient(var(--main-color), white); */
  /* margin: auto; */
  padding: 10px;
}

.header-portrait-container {
  width: 100%;
  margin: auto;
  padding: 20px;
}

.social-link {
  width: 2.2rem;
  margin: 2rem 0.8rem 0;
  transition: transform 0.2s;
}

.social-link:hover {
  transform: scale(1.2);
}

@media (max-width: 992px) and (min-aspect-ratio: 5/8) {
  .header-container {
    height: 100%;
  }
}

@media (max-width: 357px) {
  .header-container {
    height: 100%;
  }
}

@media (max-height: 500px) {
  .header-container {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .header-portrait-container {
    padding: 0 70px;
  }

  .header-container p {
    margin-top: 30px;
    font-size: 1.45rem;
  }
}

/*////////////// Experience //////////////*/
.experience-container {
  /* width: 90%; */
  max-width: 1000px;
  /* margin-bottom: 200px; */
  padding: 50px 30px;
}

.experience-container h2 {
  color: var(--main-color);
}

.resume-big-screen {
  display: none;
}

.resume-download {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  font-family: 'Baloo Da 2', cursive;
}

.experience-intro-content p {
  margin-bottom: 20px;
}

.experience-container .row {
  margin: 8px 0;
  /* font-size: 0.9rem; */
}

.experience-container .col-md-6 {
  padding: 0;
}

.experience-container .row p {
  text-align: left;
  font-size: 0.9rem;
}

.experience-tab-menu {
  display: none;
}

.experience-tab-menu .nav-link {
  color: var(--main-color);
}

@media (min-width: 768px) {
  .experience-container .row {
    margin: 30px 0;
  }

  .resume-big-screen {
    display: inline;
  }

  .experience-intro-content p {
    /* padding-top: 30px; */
  }

  .experience-tab-menu {
    display: inline;
  }

  .accordion {
    display: none;
  }
}

/*////////////// Portfolio //////////////*/
.portfolio-container {
  width: 100%;
  background-color: var(--main-color);
  margin: 50px 0 0;
}

.portfolio-large-screen {
  display: none;
}

.portfolio-container .media {
  text-align: left;
}

.portfolio-container a {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
  font-family: 'Baloo Da 2', cursive;
}

.portfolio-container .row {
  width: 95%;
  margin: auto;
}

@media (min-width: 769px) {
  .portfolio-container .row {
    width: 85%;
  }

  .portfolio-small-screen {
    display: none;
  }

  .portfolio-large-screen {
    display: inline-block;
  }
}



/*////////////// What's Next? & Contact //////////////*/
.what-next-container {
  max-width: 700px;
  margin: auto;
}
