/*******************************WHOLE WEBSITE******************************/

/*Color Scheme
#93E9E6 #F9F9F9 #EA5543 #DD9D41 #2A2A2A
*/

/**********TAG SELECTORS*************/
body {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  background-color: #F9F9F9;
  margin: 0;
  text-align: center;
}

hr {
  margin: 0 auto;
  width: 77%;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #DD9D41 inset;
}

footer {
  background-color: #EA5543;
  text-transform: none;
  color: #F9F9F9;
  padding: 25px;
  padding: 10px;
  margin-top: 50px;
}

footer > p {
  margin: 5px;
}

/**********CLASS SELECTORS**********/
.icon-credit {
  font-size: 0.4rem;
}

.topnav {
  background-color: #F9F9F9;
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
}

.topnav a {
  float: left;
  color: #2A2A2A;
  text-align: center;
  padding: 50px 30px;
  text-decoration: none;
  font-size: 19px;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.site-logo {
  float: left;
  position: absolute;
  height: 60px;
  left: 12px;
}

.hidden-logo {
  visibility: hidden;
}

.shopping-cart {
  float: right;
  height: 30px;
  position: absolute;
  right: 2%;
}

.topnav a:hover {
  background-color: #EA5543;
  color: black;
}

/*.topnav a.active {
  background-color: #4CAF50;
  color: white;
}*/

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  text-transform: none;
  background-color: #93E9E6;
  padding: 10px;
  font-size: 1.5rem;
  margin-top: 0;
}

.sticky > a {
  text-decoration: none;
  color: #2A2A2A;
}

/*******************************THIS PAGE ONLY******************************/

/**********CLASS SELECTORS**********/
.announcement-links {
  margin: 30px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: center
}

.main-announcements {
  margin: 20px;
  flex-basis: 240px;
}

.secondary-announcements {
  margin: 20px;
  flex-basis: 180px;
}

.contact-links {
  margin: 20px;
  flex-basis: 240px;
}
