/* Color Scheme:
#93E9E6 #F9F9F9 #EA5543 #DD9D41 #2A2A2A */


/**************************TAG SELECTORS*****************************/
body {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  background-color: #F9F9F9;
  margin: 0;
  text-align: center;
}

hr {
  margin: 30px auto;
  width: 100%;
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #DD9D41 inset;
}

footer {
  background-color: #EA5543;
  text-transform: none;
  color: #F9F9F9;
  padding: 25px;
  padding: 10px;
  margin-top: 50px;
}

footer > p {
  margin: 5px;
}



/**************************CLASS SELECTORS*****************************/

/***********Navbar Settings**********/
.navbar {
  min-height: 100px;
}

.navbar-brand {
  padding: 0 15px;
  height: 100px;
  line-height: 100px;
}

.navbar-brand img {
  width: 115px;
}

.navbar-toggle {
  margin-top: 28px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 36.5px;
    padding-bottom: 36.5px;
    line-height: 27px;
  }
}

/*********Sticky "Place an Order' Bar"**********/
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  text-transform: none;
  background-color: #93E9E6;
  padding: 10px;
  font-size: 1.5rem;
  margin-top: 0;
}

.sticky > a {
  text-decoration: none;
  color: #2A2A2A;
  z-index: 5;
}

/*********Main Page Contents**********/


.container-fluid {
  justify-content: space-between;
  width: 85%;
  position: relative;
  z-index: -1;
}

.container-fluid img {
  margin: 30px auto 30px;
}

.col-md-4 .col-xs-12 {
  z-index: -1;
}
.main-announcements {
  width: 250px;
}

.secondary-announcements {
  width: 175px;
}

.contact-links {
  width: 250px;
}

/**********Media Queries************/
@media screen and (max-width: 950px) {
  .main-announcements {
    width: 200px;
  }

  .secondary-announcements {
    width: 150px;
  }

  .contact-links {
    width: 200px;
  }
}

@media screen and (max-width: 760px) {
  .container-fluid img {
    margin: 10px auto 10px;
  }

  .main-announcements {
    width: 200px;
  }

  .secondary-announcements {
    width: 200px;
  }

  .contact-links {
    width: 200px;
  }
}


/**********Footer************/
.icon-credit {
  font-size: 0.5rem;
}
