/* Color Scheme */
:root {
--byu-blue: #002e5d;
--main-bg-color: #ffffff;
--secondary-bg-color: #f0f0f0;
--tertiary-bg-color: #e5e5e5;
--main-text-color: black;
--secondary-text-color: #ffffff;
}

body {
  background-color: var(--main-bg-color);
  font-family: "Sora", sans-serif;
  line-height: 1.5;
}

h1 {
  color: var(--byu-blue);
}

/* Bootstrap Navbar Overrides */
.navbar {
  min-height: 80px;
}

.navbar-custom {
  background-color: var(--byu-blue);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--secondary-text-color);
}

.navbar-custom .navbar-nav .nav-link {
  color: var(--secondary-text-color);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: var(--tertiary-bg-color);
}

.dropdown-menu {
  min-width: 320px;
}

.navbar-brand {
  /* padding: 0 15px;
  height: 75px;
  line-height: 75px; */
  fill: var(--main-bg-color);
}

/* .btn,
.btn:hover,
.btn:active,
.btn:visited,
.btn:focus {
  background-color: var(--secondary-bg-color);
  border-color: var(--secondary-bg-color);
  color: var(--main-text-color);
} */



/* Bootsrap Jumbotron Overrides */
.jumbotron-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Footer */
.upper-footer {
  background-color: var(--tertiary-bg-color);
  padding: 25px;
}

.footer-heading {
  margin-top: 15px;
}

.social-media-icons {
  width: 35px;
  margin: 10px 20px 0 0;
  transition: transform 0.2s;
}

.social-media-icons:hover {
  transform: scale(1.2);
}

.bottom-footer {
  background-color: var(--byu-blue);
  color: var(--secondary-text-color)
  padding: 200px;
  text-align: center;
}

.footer-byu-image {
  max-width: 600px;
  margin: 35px auto 10px;
}

.copyright-info {
  color: var(--secondary-text-color);
  font-size: 0.7rem;
  padding-bottom: 35px;
  margin: 0;
}

/* Other */

/* .btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: var(--byu-blue);
    border-color: var(--byu-blue);
} */

.byu-button {
  color: var(--secondary-text-color);
  background-color: var(--byu-blue);
  border-radius: 15px;
  text-decoration: none;
  padding: 10px 20px;
  border: solid var(--byu-blue);
}

.byu-button:link {
  text-decoration: none;
  color: var(--secondary-text-color);
}
.byu-button:visited {
  text-decoration: none;
  color: var(--secondary-text-color);
}
.byu-button:hover {
  text-decoration: none;
  color: var(--secondary-text-color);
}
.byu-button:active {
  text-decoration: none;
  color: var(--secondary-text-color);
}


/* a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
} */
