/* COVID-19 Banner */
.covid-banner {
  font-size: 1.2rem;
  margin-top: 0;
  text-align: center;
}

.covid-banner p {
  margin: auto auto 30px;
  max-width: 1300px;
}


/* Degree Offerings Section */
.degree-offerings-container {
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.degree-offerings-container h2 {
  color: var(--secondary-text-color);
  padding: 0;
  text-align: left;
}

.degree-offerings-container p {
  margin: auto;
  width: 80%;
}

.degree-offerings-content-container {
  margin: auto;
  max-width: 1300px;
}



/* Bootstrap Carousel Overrides */
.carousel {
  height: 300px;
  margin: 30px auto 70px;
}

.carousel img {
  margin: auto;
  max-height: 350px;
  max-width: 250px;
}

.dark {
  color: var(--byu-blue);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}


/* Student Resources Section */
.student-resources-container {
  max-width: 1300px;
  text-align: center;
}

.student-resources-container .card {
  margin-top: 20px;
}
