/* Mission Statement Section */
.mission-statement {
  line-height: 2;
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

.mission-statement-content {
  text-align: left;
}


/* Faculty Spotlight Section */
.featured-faculty-container {
  background-color: var(--secondary-bg-color);
  text-align: center;
}

.faculty-spotlight-row {
  margin-bottom: 35px;
}

.featured-faculty-container img {
  margin-top: 35px;
}

.faculty-spotlight-info {
  margin: auto;
  max-width: 400px;
}


/* Facilities Section */
.facilities-overview-container {
  max-width: 1000px;
  background-color: var(--main-bg-color);
  text-align: center;
}

.facilities-overview-container .card {
  margin: 35px auto;
}

.card-img-top {
  max-height: 230px;
}
