/* This CSS file is used by each HTML page */

/* Color Scheme */
:root {
--byu-blue: #002e5d;
--main-bg-color: #ffffff;
--secondary-bg-color: #f0f0f0;
--tertiary-bg-color: #e5e5e5;
--main-text-color: black;
--secondary-text-color: #ffffff;
}


/* Whole Site */
body {
  background-color: var(--main-bg-color);
  font-family: "Sora", sans-serif;
  line-height: 1.5;
}

h1 {
  color: var(--byu-blue);
}


/* Bootstrap Navbar Overrides */
.navbar {
  min-height: 80px;
}

.navbar-custom {
  background-color: var(--byu-blue);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--secondary-text-color);
}

.navbar-custom .navbar-nav .nav-link {
  color: var(--secondary-text-color);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: var(--tertiary-bg-color);
}

.dropdown-menu {
  min-width: 320px;
}

.navbar-brand {
  fill: var(--main-bg-color);
}


/* Bootsrap Jumbotron Overrides */
.jumbotron-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Footer */
.upper-footer {
  background-color: var(--tertiary-bg-color);
  padding: 25px;
}

.footer-heading {
  margin-top: 15px;
}

.social-media-icons {
  margin: 10px 20px 0 0;
  transition: transform 0.2s;
  width: 35px;
}

.social-media-icons:hover {
  transform: scale(1.2);
}

.bottom-footer {
  background-color: var(--byu-blue);
  color: var(--secondary-text-color)
  padding: 200px;
  text-align: center;
}

.footer-byu-image {
  margin: 35px auto 10px;
  max-width: 600px;
}

.copyright-info {
  color: var(--secondary-text-color);
  font-size: 0.7rem;
  margin: 0;
  padding-bottom: 35px;
}


/* Other */
.byu-button {
  background-color: var(--byu-blue);
  border: solid var(--byu-blue);
  border-radius: 15px;
  color: var(--secondary-text-color);
  padding: 10px 20px;
  text-decoration: none;
}

.byu-button:link {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.byu-button:visited {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.byu-button:hover {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.byu-button:active {
  color: var(--secondary-text-color);
  text-decoration: none;
}
